/* para poner fondo */
form.simple-form {
    /* background: linear-gradient(90deg,white, black,blue), transparent; */
    background: linear-gradient(180deg, #FFB7B7 0%, #727272 100%), radial-gradient(60.91% 100% at 50% 0%, #FFD1D1 0%, #260000 100%), linear-gradient(127.43deg, #00FFFF 0%, #FFFFFF 100%), radial-gradient(100.22% 100% at 70.57% 0%, #FF0000 0%, #00FFE0 100%), linear-gradient(64.82deg, #DBFF00 0%, #3300FF 100%);
    background-blend-mode: screen, overlay, color-burn, color-dodge, normal;
    border-radius: 5px;
    padding: 5px ;

}


/* selecciona tambien a los hijos directos del form(al cambiar el espacio por el simbolo >) */
/* poner así la etiqueta para que afecte a todo el form con todos los divque tiene dentro */
form.simple-form>div {
    display: flex;
    justify-content: space-between;

    width: 350px;
    margin-bottom: 5px;

}
/* form.simple-form h2,h1 {
    margin-top: 0;
} */

/* selecciona al div que es el ultimo hijo del form (last-child)*/
form.simple-form div:last-child {
    justify-content: flex-start;
}

/* (text-tansform: uppercase) para que se cambie a mayusculas */
form.simple-form input,
form.simple-form div button {
    border: none;
    border-radius: 4px;
    background-color: cornflowerblue;
    margin-right: 5px;
    font-weight: bold;
    text-transform: uppercase;

}
form.contact {
    background-color: #a9be1e;
}
form.contact div {
    width: 50%;
}

form.contact input[type='text'],
form.contact textarea {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 100%;
}
form.contact input[type='submit']{
background-color: transparent;
padding: 10px 40px;
margin: 20px 0;
}

form.contact input[type='submit']:hover {
    
    color: rgb(75, 75, 75);
    background: rgb(220, 200, 220);
    /* El cursor cambia una mano, indicando si  */
    cursor: pointer;

}