body.bgc {
    background-color: #180148;
}

.container-form {
    width: 31.25em;
    background-color: #f8f8f8;
    padding: 1.4em 3.75em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.7em;
    box-shadow: 0 1em 4em rgba(71, 50, 4, 0.3);
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: rgb(6, 74, 127);
}

input.inp {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    font-size: 19px;
    padding: 1em 0 0.5em 0.5em;
    border: none;
    border-bottom: 2px solid #202020;
}

.submit {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 0.9em;
    width: 7em;
    background-color: #096292;
    color: white;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
    border-color: #096292;
    border-style: solid;
    cursor: pointer;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn {
    font-size: 0.9em;
    width: 10em;
    background-color: #096292;
    color: white;
    padding: 0.5em 0;
    margin: 2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.slct {
    padding: 5px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    border: 2px solid #096292;
    color: black;
    font-size: 17px;
    cursor: pointer;
}

.slct:focus {
    outline: none;
}

.inpPanel {
border: none;
border-bottom: 2px solid #096292;
}

.decoration {
    text-decoration: none
}

a.decoration:hover {
    text-decoration-line: underline;
    color: #180148;
}

svg {
    cursor: pointer;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border: 2px solid #096292;
    border-collapse: collapse;   
}

th {
    text-align: center;
    background-color: #096292;
    color: #f8f8f8;
    border: 2px solid #096292;
    padding: 2px 5px;
}

td {
    text-align: center;
    border: 1px solid #096292;
    padding: 2px 5px;
}