* {
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(180deg, #8b5ceb 0%, #ADD8E6 100%);
    background-attachment: fixed; /* evitar que se repita el gradiente */
}

h1 {
    color: darkslategrey;
    text-align: center;
}

button {
    border: none;
    position: relative;
    background-color: #8b5ceb;
    color: white;
    font-weight: bold;
    padding: 10px;
    width: 80px;
    text-align: center;
    border-radius: 10px !important;
    /* !important es para que tenga mas peso que otras clases como bootstrap que lo sobreescribirian y no nos pillaria este. */
    box-shadow: 0 5px 0 0 rgb(180, 180, 180);
}

button:active {
    top: 5px;
    box-shadow: 0 0px 0 0 rgb(180, 180, 180);
}

ul {
    margin: 0;
    padding: 0;
}


/* Style the list items */
ul > li {
    cursor: pointer;
    list-style-type: none;
    font-size: 24px;
    padding: 0 0 0 40px;
}

/* Color de fondo al pasar el mouse */
ul li:hover {
    background: #ddd;
    border-radius: 10px;
}
/* Al hacer clic, agrega un color de fondo y tacha el texto */
ul li.checked {
    background: #888;
    color: #fff;
    border-radius: 10px;
    text-decoration: line-through;
    max-height: 3rem;
    
}
/* Agrega una marca de "marcado" cuando se hace clic  */
ul li.checked::before {
    content: '';
    border-color: green;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.eliminar {
    margin-left: auto;
    border: none;
    background-color: #e31746;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    outline: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 10%;
    font-size: 1.2em;
    max-height: 3rem;
}
.eliminar:hover {
    background-color: lightseagreen;
}
.eliminar img{
    max-height: 2rem;
    display:block;
    margin:auto;
}